
body {
    overflow: hidden;
    /* Your desired RGBA color */
   
}
.forget-password-section {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.forget_the_password {
    width: 400px;
    height: 380px;
    margin: auto;
    box-shadow: 0 0 5px #333;
    border-radius: 10px;
    border: 2px solid white;
 
}
