* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #7FD3D1;
}
/* ------------Navigation styles------------- */
header {
    position: fixed;
    top: 0px;
    background-color: #7FD3D1;
    width: 100%;
    z-index: 999;
    height: 90px;
    padding: 0 70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.5); /* 添加陰影效果 */
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
    /* 添加鼠标悬停效果 */
    .logo-container:hover {
        transform: scale(1.05);
        transition: .53s;
    }

header .logo-container img {
    width: 100%;
    max-width: 373px;
    max-height: 108px;
    vertical-align: middle;
    
    
}


.nav-btn {
    display: flex; /* Use flexbox for the container */
    justify-content: center;
    flex: 2.7;
}

.nav-links {
    flex: 2;
}

    .nav-links > ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.nav-link {
    position: relative;
}

    .nav-link > a {
        line-height: 3rem;
        color: rgba(0, 0, 0, 0.7);
        padding: 0.7rem;
        letter-spacing: 1px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }

        .nav-link > a > i {
            margin-left: 0.3rem;
        }

    .nav-link:hover > a {
        transform: scale(1.1);
    }

/* 登入註冊設計 */
.log-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0.9;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: .4rem 1.1rem;
    font-size: .6rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
    width: 70px;
    text-align: center;
}

    .btn.solid, .btn.log:hover {
        background-color: #fff;
        color: #69bde7;
    }

        .btn.log, .btn.solid:hover {
            background-color: transparent;
            color: #fff;
        }

    .btn.solid, .btn.sign:hover {
        background-color: #fff;
        color: #69bde7;
    }

        .btn.sign, .btn.solid:hover {
            background-color: transparent;
            color: #fff;
            margin-left: 5px;
        }


.dropdown {
    position: absolute;
    top: 75%;
    right: 0;
    width: 6.5rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

    .dropdown ul {
        position: relative;
    }

.dropdown-link > a {
    display: flex;
    background-color: #fff;
    color: #808080;
    padding: .7rem 1rem;
    font-size: 1em;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    border-radius: 5px; /* Add this line */
}

.dropdown-link:hover > a {
    background-color: #92DAD9;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


/* --------響應式菜單 ----------------*/
.menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .menu div {
        width: 1.6rem;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        z-index: 1001;
        transition: .3s;
    }

        .menu div:before,
        .menu div:after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #fff;
            border-radius: 3px;
            transition: .3s;
        }

        .menu div:before {
            transform: translateY(-7px);
        }

        .menu div:after {
            transform: translateY(7px);
        }

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

    #check:checked ~ .menu-container .menu div {
        background-color: transparent;
    }

        #check:checked ~ .menu-container .menu div:before {
            transform: translateY(0) rotate(-45deg);
        }

        #check:checked ~ .menu-container .menu div:after {
            transform: translateY(0) rotate(45deg);
        }

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1100px) {
    .menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #7FD3D1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .3s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

        #check:checked ~ .nav-btn .nav-link,
        #check:checked ~ .nav-btn .log-sign {
            opacity: 1;
            transform: translateY(0px);
        }

    .nav-links {
        flex: initial;
        width: 100%;
    }

        .nav-links > ul {
            flex-direction: column;
        }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

        .nav-link > a {
            line-height: 0.8;
            padding: 1.4rem 1.6rem;
        }

        .nav-link:hover > a {
            transform: scale(1);
            background-color: #92DAD9;
            color: #fff;
        }

    .dropdown, .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #7FD3D1;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-link > a {
        background-color: #fff;
        color: #808080;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .dropdown-link:hover > a {
        background-color: #76D0CE;
    }

    .nav-link > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .3s;
    }

    .dropdown i {
        font-size: 1rem;
        transition: .3s;
    }

    .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-end;
        opacity: 0;
        transform: translateY(15px);
    }
}
/* ---------------- Global Classes ---------------*/
.flex-row { /* ----------123頁面那塊-------*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login_now {
    border: none;
    border-radius: 2rem;
    padding: 0.9rem 2rem;
    font-size: 1rem;
    font-family: Arial, sans-serif; /* Specify a font family */
    font-weight: bold; /* Add this line to make the font bold */
    cursor: pointer;
    letter-spacing: 0.2rem; /* Adjust the spacing as needed */
    transition: font-size 0.3s ease-in-out;
    
}
    .login_now:hover {
        font-size: 1.1rem; /* Increase the font size on hover */
    }

.text-gray {
    color: var(--text-gray);
}

/*----------------- Navigation styles---------------- */
header {
    position: sticky;
    top: 0px;
    background-color: #7FD3D1;
    width: 100%;
    z-index: 1000;
    height: 70px;
    padding: 0 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.5); /* 添加陰影效果 */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
    /* 添加鼠标悬停效果 */
    .logo-container:hover {
        transform: scale(1.05);
        transition: .53s;
    }

.logo {
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.7rem;
    display: flex; /* 使用 flex 布局 */
    align-items: center; /* 垂直居中 */
}

.nav-logo span {
    font-weight: 600;
}

.nav-btn {
    display: flex; /* Use flexbox for the container */
    justify-content: center;
    flex: 2.7;
}

.nav-links {
    flex: 2;
}

    .nav-links > ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.nav-link {
    position: relative;
}

    .nav-link > a {
        line-height: 3rem;
        color: #fff;
        padding: 0.7rem;
        letter-spacing: 1px;
        font-size: 1.07rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }

        .nav-link > a > i {
            margin-left: 0.3rem;
        }

    .nav-link:hover > a {
        transform: scale(1.1);
    }

/* 登入註冊設計 */
.log-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0.9;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: .4rem 1.1rem;
    font-size: .6rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
    width: 70px;
    text-align: center;
}

    .btn.solid, .btn.log:hover {
        background-color: #fff;
        color: #69bde7;
    }

        .btn.log, .btn.solid:hover {
            background-color: transparent;
            color: #fff;
        }

    .btn.solid, .btn.sign:hover {
        background-color: #fff;
        color: #69bde7;
    }

        .btn.sign, .btn.solid:hover {
            background-color: transparent;
            color: #fff;
            margin-left: 5px;
        }


.dropdown {
    position: absolute;
    top: 75%;
    right: 0;
    width: 5.25rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

    .dropdown ul {
        position: relative;
    }

.dropdown-link > a {
    display: flex;
    background-color: #fff;
    color: #808080;
    padding: .7rem 1rem;
    font-size: 0.8rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    border-radius: 5px; /* Add this line */
}

.dropdown-link:hover > a {
    background-color: #92DAD9;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


/* 響應式菜單 */
.menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .menu div {
        width: 1.6rem;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        z-index: 1001;
        transition: .3s;
    }

        .menu div:before,
        .menu div:after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #fff;
            border-radius: 3px;
            transition: .3s;
        }

        .menu div:before {
            transform: translateY(-7px);
        }

        .menu div:after {
            transform: translateY(7px);
        }

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

    #check:checked ~ .menu-container .menu div {
        background-color: transparent;
    }

        #check:checked ~ .menu-container .menu div:before {
            transform: translateY(0) rotate(-45deg);
        }

        #check:checked ~ .menu-container .menu div:after {
            transform: translateY(0) rotate(45deg);
        }

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1100px) {
    .menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #7FD3D1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .3s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

        #check:checked ~ .nav-btn .nav-link,
        #check:checked ~ .nav-btn .log-sign {
            opacity: 1;
            transform: translateY(0px);
        }

    .nav-links {
        flex: initial;
        width: 100%;
    }

        .nav-links > ul {
            flex-direction: column;
        }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

        .nav-link > a {
            line-height: 0.8;
            padding: 1.4rem 1.6rem;
        }

        .nav-link:hover > a {
            transform: scale(1);
            background-color: #92DAD9;
            color: #fff;
        }

    .dropdown, .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #7FD3D1;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-link > a {
        background-color: #fff;
        color: #808080;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .dropdown-link:hover > a {
        background-color: #76D0CE;
    }

    .nav-link > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .3s;
    }

    .dropdown i {
        font-size: 1rem;
        transition: .3s;
    }

    .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-end;
        opacity: 0;
        transform: translateY(15px);
    }
}

/*----------------- Navigation styles---------------- */

.fixed-header {
    position: fixed;  
    width: 100%;
    transition: top 0.3s;
}

/* ----------------- Main Content----------- */

/* --------------- owl-carousel owl-theme firs ---------------- */
.owl-carousel {
    width: 100%;
    height: 80vh;
}

.slide {
    width: 100%;
    height: 80vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

    .slide::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        background: rgba(0, 0, 0, 0.2);
    }

.slide-1 {
    background-image: url('../image/carousel-1.png');
}

.slide-2 {
    background-image: url('../image/carousel-1.png');
}

.slide-3 {
    background-image: url('../image/carousel-1.png');
}

.slide-content { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 20%;
    text-align: left;
}
    .slide-content h1 span {
        font-size: 1.5rem;
        font-weight: 700;
        display: inline-block;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    }

    .slide-content h1 {
        font-size: 1.3rem;
        text-align: left;
        font-family: 'Azeret Mono', monospace;
        margin-bottom: 20px;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    }

    .slide-content h2 {
        color: #fff;
        display: inline;
        font-size: 3.2rem;
        text-align: left;
        margin-bottom: 10px;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    }

    .slide-content p {
        font-family: "Microsoft JhengHei", sans-serif;
        font-weight: 600;
        font-size: 1.05rem;
        margin-bottom: 20px;
        color: #fff;
        max-width: 45ch;
        margin-top: 20px;
        margin-bottom: 30px;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
        line-height: 1.8rem;
    }
       
    .slide-btn {
        position: relative;
        background-color: #7FD3D1;
        color: #fff;
        font-weight: 500;
        padding: 12px 32px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: 0.25s ease;
        font-family: "Roboto", serif;
        border: none;
        font-weight: bolder;
    }

    .slide-btn .slide-span {
        font-size: 1.2rem;
    }

    .slide-btn ion-icon {
        --ionicon-stroke-width: 55px;
        font-size: 1.1rem;
    }

    .slide-btn:not(.btn-outline)::after {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid #fff;
        transform: translate(5px, 5px);
        transition: 0.25s ease;
    }

    .slide-btn:is(:hover, :focus)::after {
        transform: translate(0, 0);
    }

.slide-btn-outline {
    border: 2px solid #fff;
    background-color: transparent;
}

.slide-btn-white {
    --btn-bg: #7FD3D1;
    color: #fff;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

    .owl-dots span {
        width: 20px !important;
        height: 20px !important;
    }

    .owl-dots button {
        border: none !important;
        outline: none !important;
    }
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background: none !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

/* --------x------ owl-carousel owl-theme firs --------x------- */

/* ----------------- special service ----------- */

.special-service {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    height: 80vh; /* 使用视口高度来设置区块高度，以确保居中效果适用于不同屏幕尺寸 */
    text-align: center; /* 文本居中 */
    padding: 20px; /* 添加一些内边距，以增加内容与边框的间距 */
}

.center-special {
    text-align: center;
    margin-bottom: 30px;
}

.special-heading {
    letter-spacing: 0.2rem;
    color: #f0768b;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.special {
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    color: #666;
    text-transform: uppercase;
}

/* AOS 動畫相關 */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

    [data-aos="fade-up"].aos-animate {
        opacity: 1;
        transform: translateY(0);
    }

.row {
    display: flex;
    justify-content: space-between; /* 將列中的元素均勻分佈 */
    align-items: center; /* 將列中的元素垂直居中對齊 */
    margin: 0 70px 0 70px;
}

.col {
    flex: 1; /* 將每個欄佔據相等的空間 */
    padding: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 30px;
    box-sizing: border-box;
}

    .col img {
        width: 270px; /* 设置图片宽度 */
        width: 270px;
        margin: 0 auto;
    }

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #f0768b;
}

p {
    font-size: 1rem;
    margin-top: 10px;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: #474d53;
    font-weight: 500;
}

/* 在螢幕寬度小於768px時的特定樣式 */
@media (max-width: 768px) {
    .special-service {
        background-color: #f7f7f7;
        padding: 20px; /* 調整區塊的內邊距 */
        justify-content: center; /* 垂直居中 */
        align-items: center; /* 水平居中 */
        height: 170vh; /* 使用视口高度来设置区块高度，以确保居中效果适用于不同屏幕尺寸 */
    }

    .row {
        flex-direction: column; /* 将列元素垂直排列 */
        align-items: center; /* 垂直居中对齐列元素 */
        margin: 0; /* 移除水平边距 */
    }

    .col {
        margin: 0;
    }

        .col img {
            margin-bottom: 10px;
        }

        .col h3 {
            font-size: 1.3rem;
            margin-bottom: 2px;
        }

        .col p {
            font-size: 1rem;
            margin-bottom: 0; /* 移除預設的下邊距 */
        }
}

@media (max-width: 1200px) {
    .special-service {
        padding: 20px; /* 調整內邊距或其他樣式 */
        height: 170vh;
    }

    .row {
        flex-direction: column; /* 將列轉換為垂直排列 */
    }

    .col {
        width: 100%; /* 讓列佔據整個寬度 */
        margin-bottom: 20px; /* 增加列之間的間距 */
    }
}

@media (max-width:300px) {
    .special-service {
        padding: 30px; /* 調整內邊距或其他樣式 */
        height: 300vh;
        margin-top: 50px; /* 增加上方間距 */
        padding-top: 100px;
    }

    .row {
        flex-direction: column; /* 將列轉換為垂直排列 */
    }

    .col {
        width: 100%; /* 讓列佔據整個寬度 */
        margin-bottom: 20px; /* 增加列之間的間距 */
    }
}


/* ------xx----- special service --xx-- */

/* ---------------Second Carousel- Clinic ------------ */
main .intro-2 {
    padding: 0;
    
}

main .blog {
    margin: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

    main .blog .blog-post {
        padding-top: 3rem;
    }
.clinic-container {
    margin-top: -15px;
}
.center-content {
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}
.owl-navigation {
    text-align: center;
   
}
section .clinic-container .owl-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 45%;
    right: 45%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
    color: #7FD3D1;
    background: transparent;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    width: 40px;
    height: 30px;
    margin:0;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: #7FD3D1;
}

.owl-theme .owl-nav [class*='owl-'] {
    outline: none;
}
.clinic-h2 {
    font-size: 2.5rem;
    margin: 0;
    color: #3f5174;
}

.clinic-p {
    font-size: 1rem;
    margin: 0;
    font-style: italic;
    color: #474d53;
    text-align: center;
}

.more {
    background-color: #7FD3D1;
    border-radius: 2rem;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

    .more:hover {
        background-color: #ffa08f;
        border: 2px solid #ffd3c1;
        color: #fff;
        transform: scale(1.1); /* Increase the size on hover */
    }

main .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
    padding: 1.7rem 0;
}

.blog-title h3 {
    margin-top:2px;
    padding-bottom: 20px;
    font-family: 'PingFang SC', Arial, sans-serif;
    font-size: 1.6rem;
    color:black;
}

.blog-title .phone-number,
.blog-title span {
    padding-bottom: 10px;
}

.blog-title .phone-number {
    font-size: 1.3rem;
    color: #e69081;
    font-weight: 600;
    font-family: '新宋体', Arial, sans-serif;
}

.blog-title span {
    font-weight: 600;
    font-family: '新宋体', Arial, sans-serif;
    font-size: 1.1rem;
}

main .blog-content .btn-blog {
    padding: .7rem 2rem;
    background: #7FD3D1;
    margin: .5rem;
}

main .blog-content span {
    display: block;
}


@media (max-width: 768px) {
    section .container .owl-nav {
        flex-direction: column;
        align-items: center;
        left: 50%; /* 重新定位箭头位置 */
        transform: translateX(-50%); /* 居中对齐 */
    }

    .owl-nav .owl-prev .owl-nav-prev,
    .owl-nav .owl-next .owl-nav-next {
        font-size: 50px; /* 调整箭头大小 */
        width: 40px;
        height: 30px;
    }
}

/* -------x------- Clinic -----x------ */

/* ---------------- Site Content announce----------------*/
.announce-container {
    margin: 0 5vw;
}
.announce-heading {
    font-size: 2.5rem;
    margin: 0;
    color: black;
}

.announce {
    font-size: 1rem; /* Adjust the font size as needed */
    margin: 0;
    font-style: italic;
    color: #474d53;
}
.announce-h3 {
    margin-top: 10px;
    color: #47525c;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Microsoft YaHei", sans-serif;
    text-align: left;
}
.announce-span {
    display: inline-block;
    padding: 5px 10px;
    color: #e97597;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer; /* 鼠标指针形状为手型 */
    transition: transform 0.2s; /* 添加transform属性的过渡效果 */
}

    .announce-span:hover {
        transform: translateX(5px); /* 鼠标悬停时向下移动2像素，你可以根据需要调整值 */
    }

main .site-content {
    display: grid;
    grid-template-columns: 65% 37%;
}

main .post-content {
    width: 100%;
}

main .site-content .post-content > .post-image, .post-title {
    padding:0.6rem 3rem;
    position: relative;
    font-family: 'Noto Serif TC', serif;
   
    
}

    main .site-content .post-content > .post-image .post-info {
        background: #faf9d4;
        padding: 0.8rem;
        position: absolute;
        bottom: 0%;
        left: 40vw;
        border-radius: 2rem;
        font-size: 12px;
        color: lightslategrey;
        font-family: 'Microsoft JhengHei', serif;
    }

    main .site-content .post-content > .post-image > div {
        overflow: hidden;
    }

    main .site-content .post-content > .post-image .img {
        width: 100%;
        transition: all 1s ease;
    }

        main .site-content .post-content > .post-image .img:hover {
            transform: scale(1.1);
        }

    main .site-content .post-content > .post-image .post-info span {
        margin: 0 .5rem;
        color:blue;
    }
main .post-content .post-title a {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 1.5rem;
    color: #39424a;
    margin-bottom: 10%;
}
main .post-content .post-title p {
    font-family: "Noto Sans CJK TC";
    font-size: 1rem;
    color: #39424a;
    margin-top: 1%;
}
.site-content .post-content .post-title .readmore {
    padding: .6rem 1.3rem;
    background: #7FD3D1;
    border-radius: 0.6rem;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s, transform 0.3s;
    outline: none; /* Remove the border when focused */
    border: 2px solid #7FD3D1;
    
}

    .site-content .post-content .post-title .readmore:hover {
        background-color: #ffa08f;
        border: 2px solid #ffd3c1;
        color: #fff;
        transform: scale(1.1); /* Increase the size on hover */
    }


.site-content .pagination {
    justify-content: center;
    color: var(--text-gray);
    margin: 1rem 0;
}

    .site-content .pagination a {
        padding: .6rem .9rem;
        border-radius: 2rem;
        margin: 0 .3rem;
        font-family: var(--Lexend);
    }

    .site-content .pagination .pages {
        background: #47525c;
        color: #fff;
    }
/* -------xx------------ Clinic -------xx---------*/

/* --------------- Sidebar ----------------------- */
/* --------------- category-list ----------------------- */
.featured-heading {
    font-size:2.4rem;
    margin: 0;
}

.featured {
    font-size: 1rem; /* Adjust the font size as needed */
    margin: 0;
    font-style: italic;
    color: #474d53;
}
.site-content > .sidebar .category-list {
    font-family: 'Microsoft JhengHei', sans-serif;
}

    .site-content > .sidebar .category-list .list-items {
        background: #7FD3D1;
        padding: .4rem 2rem;
        margin: .8rem 0;

        border-radius: 3rem;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

        .site-content > .sidebar .category-list .list-items:hover {
            background-color: #ffa08f;
            border: 2px solid #ffd3c1;
            color: #fff;
        }

        .site-content > .sidebar .category-list .list-items a {
            color: #fff;
            letter-spacing: 0.1em;
        }

            .site-content > .sidebar .category-list .list-items a .arrow {
                display: inline-block;
                
                transition: transform 0.3s ease;
            }

            .site-content > .sidebar .category-list .list-items a:hover .arrow {
                transform: translateX(10px);
            }

.popular-post-info {
    background: #faf9d4;
    padding: 0.8rem;
    position: absolute;
    bottom: 0%;
   
    border-radius: 2rem;
    font-size: 12px;
    color: lightslategrey;
    font-family: 'Microsoft JhengHei', serif;
}
    .popular-post-info span {
        margin: 0 .5rem;
        color:gray;
    }
/* --------------- popular----------------------- */
.educational-heading {
    font-size: 2.4rem;
    margin: 0;
    
}

.educational {
    font-size: 1rem; /* Adjust the font size as needed */
    margin: 0;
    font-style: italic;
    color: #474d53;
}
.site-content .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
    padding-top: 4rem;
}


.site-content .sidebar .popular-post .post-info {
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
    font-size: 1rem;
}

.site-content .sidebar .newsletter {
    padding-top: 10rem;
}

    .site-content .sidebar .newsletter .form-element {
        padding: .5rem 2rem;
    }

    .site-content .sidebar .newsletter .input-element {
        width: 80%;
        height: 1.9rem;
        padding: .3rem .5rem;
        font-family: var(--Lexend);
        font-size: 1rem;
    }

    .site-content .sidebar .newsletter .form-btn {
        border-radius: 0;
        padding: .8rem 32%;
        margin: 1rem 0;
        background: var(--sky);
    }

.site-content .sidebar .popular-tags {
    padding: 5rem 0;
}

    .site-content .sidebar .popular-tags .tags .tag {
        background: var(--sky);
        padding: .4rem 1rem;
        border-radius: 3rem;
        margin: .4rem .6rem;
    }
/* -------x------- Sidebar -----------x----------- */

/*--------------- Footer -----------------*/
footer {
    background-color: #cceded;
    background-image: url("../image/wavefoot.svg");
    background-size: cover;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-company-box {
    max-width: 330px;
}

    .footer-company-box p {
        color: #585858;
        margin: 5px 0px;
        font-size: 1.1rem;
        letter-spacing: 0.3px;
        line-height: 1.4rem;
    }

.footer-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .footer-social a {
        margin-top: 10px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e9e9e9;
        color: #333333;
        font-size: 0.9rem;
        transition: all ease 0.3s;
    }

        .footer-social a:hover {
            background-color: #ffc0cb;
            color: #ffffff;
        }

.footer-link-box strong {
    font-size: 1.3rem;
    color: #333333;
    font-weight: 600;
}

.footer-link-box ul {
    margin-top: 5px;
}

.footer-container ul li a {
    color: #585858;
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    transition: all ease 0.3s;
}

    .footer-container ul li a:hover {
        color: #122853;
    }

.footer hr {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
}

.move-up {
    position: fixed;
    bottom: 200px;
    right: 20px;
    background-color: #7FD3D1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    .move-up:hover {
        background-color: #ffa08f;
        transform: scale(1.1);
    }

    .move-up span {
        color: #fff;
    }

    .move-up i {
        font-size: 24px;
    }

.copyright {
    display: flex;
    justify-content: space-around;
    color: grey;
    padding: 30px;
    font-weight: 400;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


@media(max-width:1200px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

/* ---------x------- Main Content -----x----- */

@media only screen and (max-width: 1130px) {
    .site-content .post-content > .post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
        display: none !important;
    }

   
}

@media only screen and (max-width: 768px) {
    .nav .nav-menu, .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

   
}

@media only screen and (max-width: 520px) {
    main .blog {
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info {
        display: none;
    }

    footer.footer .container > div {
        padding: 1rem .9rem !important;
    }

   
    nav .toggle-collapse {
        width: 80% !important;
    }
}

/*        x      Viewport less then or equal to 520px       x     */