* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #7FD3D1;
}
/* ------------Navigation styles------------- */
header {
    position: sticky;
    top: 0px;
    background-color: #7FD3D1;
    width: 100%;
    z-index: 999;
    height: 90px;
    padding: 0 70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.5); /* 添加陰影效果 */
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    position: relative;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
    /* 添加鼠标悬停效果 */
    .logo-container:hover {
        transform: scale(1.05);
        transition: .53s;
    }
    .logo-container img {
        display: flex;
        justify-content: center; /* 水平置中 */
        align-items: center; /* 垂直置中 */
       
    }
.nav-btn {
    display: flex; /* Use flexbox for the container */
    justify-content: center;
    flex: 2.7;
}

.nav-links {
    flex: 2;
}

    .nav-links > ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.nav-link {
    position: relative;
}

    .nav-link > a {
        line-height: 3rem;
        color: #fff;
        padding: 0.7rem;
        letter-spacing: 1px;
        font-size:1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }

        .nav-link > a > i {
            margin-left: 0.3rem;
        }

    .nav-link:hover > a {
        transform: scale(1.1);
    }

/* 登入註冊設計 */
.log-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0.9;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: .4rem 1.1rem;
    font-size: .6rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
    width: 70px;
    text-align: center;
}

    .btn.solid, .btn.log:hover {
        background-color: #fff;
        color: #69bde7;
    }

        .btn.log, .btn.solid:hover {
            background-color: transparent;
            color: #fff;
        }

    .btn.solid, .btn.sign:hover {
        background-color: #fff;
        color: #69bde7;
    }

        .btn.sign, .btn.solid:hover {
            background-color: transparent;
            color: #fff;
            margin-left: 5px;
        }


.dropdown {
    position: absolute;
    top: 75%;
    right: 0;
    width: 6.5rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

    .dropdown ul {
        position: relative;
    }

.dropdown-link > a {
    display: flex;
    background-color: #fff;
    color: #808080;
    padding: .7rem 1rem;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    border-radius: 5px; /* Add this line */
}

.dropdown-link:hover > a {
    background-color: #92DAD9;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #efefef;
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.dropdown-link {
    position: relative;
}

.dropdown.second {
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}


/* --------響應式菜單 ----------------*/
.menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .menu div {
        width: 1.6rem;
        height: 3px;
        border-radius: 3px;
        background-color: #fff;
        position: relative;
        z-index: 1001;
        transition: .3s;
    }

        .menu div:before,
        .menu div:after {
            content: '';
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #fff;
            border-radius: 3px;
            transition: .3s;
        }

        .menu div:before {
            transform: translateY(-7px);
        }

        .menu div:after {
            transform: translateY(7px);
        }

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

    #check:checked ~ .menu-container .menu div {
        background-color: transparent;
    }

        #check:checked ~ .menu-container .menu div:before {
            transform: translateY(0) rotate(-45deg);
        }

        #check:checked ~ .menu-container .menu div:after {
            transform: translateY(0) rotate(45deg);
        }

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1100px) {
    .menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #7FD3D1;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .3s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

        #check:checked ~ .nav-btn .nav-link,
        #check:checked ~ .nav-btn .log-sign {
            opacity: 1;
            transform: translateY(0px);
        }

    .nav-links {
        flex: initial;
        width: 100%;
    }

        .nav-links > ul {
            flex-direction: column;
        }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

        .nav-link > a {
            line-height: 0.8;
            padding: 1.4rem 1.6rem;
        }

        .nav-link:hover > a {
            transform: scale(1);
            background-color: #92DAD9;
            color: #fff;
        }

    .dropdown, .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #7FD3D1;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-link > a {
        background-color: #fff;
        color: #808080;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .dropdown-link:hover > a {
        background-color: #76D0CE;
    }

    .nav-link > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .3s;
    }

    .dropdown i {
        font-size: 1rem;
        transition: .3s;
    }

    .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-end;
        opacity: 0;
        transform: translateY(15px);
    }
}

/*------xx---------------xx--------------*\

\*-----------ABOUT----------------------
img {
    height: auto;
}--*/

ion-icon {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-size: 1.6rem;
    line-height: 1.8;
    overflow-x: hidden;
    margin: 0; /* Add this line */
    padding: 0;
}

.container-about {
    padding-inline: 2px;
    padding-top: 0px;
}

.section-subtitle {
    color: hsl(40, 100%, 50%);
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section {
    padding-block: 10px;
    margin: 0px 200px;
   
}

.section-title {
    line-height: 1.6;
    font-size: 2.5rem;
    font-weight: 500;
   
}

    .section-title strong {
        line-height: 1.6;
        font-size: 2.4rem;
        font-weight: 600;
        display: block;
    }

.section-text {
    line-height: 2;
    font-size: 1rem;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about {
    padding-block-start: 70px;
}

.about-banner {
    position: relative;
    max-width: max-content;
    margin-block-end: 30px;
}

.deco-title {
    font-size: 10rem;
    font-weight: 700;
    white-space: nowrap;
    line-height: 0.5;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px gray;
    transform-origin: top left;
    transform: rotate(0.25turn);
    position: absolute;
    top: 55%;
    left: 100%;
    z-index: -1;
}

.deco-img {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
}

.about-img {
    max-width: max-content;
    margin-block-end: 30px;
}

.about .section-subtitle {
    margin-block-end: 10px;
}

.tab-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-block: 25px 35px;
}

.tab-list {
    margin-block: 25px 50px;
}

.tab-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 5px;
}

    .tab-item .item-icon {
        font-size: 1.3rem;
        color: hsl(40, 100%, 50%);
    }

.tab-text {
    color: gray;
    font-size: 1.2rem;
    font-weight: 500;
}


@media (min-width: 450px) {
}

@media (min-width: 580px) {
}

@media (min-width: 768px) {

    .banner-row {
        display: flex;
        gap: 20px;
    }

    .deco-title {
        top: 10%;
        left: calc(100% + 40px);
    }

    .about-img {
        margin-block-end: 0;
    }

        .about-img:first-child {
            margin-block-end: 30px;
        }
}

@media (min-width: 992px) {
    .banner-col {
        width: 50%;
    }

    .about-img {
        max-width: 100%;
    }

    .about-img-2 {
        min-width: 120%;
        margin-inline-start: -20%;
    }

    .about-img-3 {
        max-width: 90%;
    }

    .about .container-about {
        display: grid;
        grid-template-columns: 1fr 0.8fr;
        align-items: flex-start;
        gap: 120px;
    }

    .about-banner {
        margin-block-end: 0;
    }
}


@media (min-width: 1200px) {
    .deco-img {
        left: -35px;
    }
}
/* -------xx--------about --xx------ */

/* ----------------- special service ----------- */
.special-service {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    height: 80vh; /* 使用视口高度来设置区块高度，以确保居中效果适用于不同屏幕尺寸 */
    text-align: center; /* 文本居中 */
    padding: 20px; /* 添加一些内边距，以增加内容与边框的间距 */
}

.center-special {
    text-align: center;
    margin-bottom: 30px;
}

.special-heading {
    letter-spacing: 0.2rem;
    color: #f0768b;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.special {
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    color: #666;
    text-transform: uppercase;
}

/* AOS 動畫相關 */
[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

    [data-aos="fade-up"].aos-animate {
        opacity: 1;
        transform: translateY(0);
    }

.row {
    display: flex;
    justify-content: space-between; /* 將列中的元素均勻分佈 */
    align-items: center; /* 將列中的元素垂直居中對齊 */
    margin: 0 70px 0 70px;
}

.col {
    flex: 1; /* 將每個欄佔據相等的空間 */
    padding: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 0 30px 0 30px;
    box-sizing: border-box;
}

    .col img {
        width: 270px; /* 设置图片宽度 */
        width: 270px;
        margin: 0 auto;
    }

h3 {
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #f0768b;
}

p {
    font-size: 1rem;
    margin-top: 10px;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: #474d53;
    font-weight: 500;
}

/* 在螢幕寬度小於768px時的特定樣式 */
@media (max-width: 768px) {
    .special-service {
        background-color: #f7f7f7;
        padding: 20px; /* 調整區塊的內邊距 */
        justify-content: center; /* 垂直居中 */
        align-items: center; /* 水平居中 */
        height: 170vh; /* 使用视口高度来设置区块高度，以确保居中效果适用于不同屏幕尺寸 */
       
    }
    .row {
        flex-direction: column; /* 将列元素垂直排列 */
        align-items: center; /* 垂直居中对齐列元素 */
        margin: 0; /* 移除水平边距 */
    }
    .col {
        margin: 0;
    }
        .col img {
            margin-bottom: 10px;
        }

        .col h3 {
            font-size: 1.3rem;
            margin-bottom: 2px;
        }

        .col p {
            font-size: 1rem;
            margin-bottom: 0; /* 移除預設的下邊距 */
        }
}

@media (max-width: 1200px) {
    .special-service {
        padding: 20px; /* 調整內邊距或其他樣式 */
        height: 170vh;
    }

    .row {
        flex-direction: column; /* 將列轉換為垂直排列 */
    }

    .col {
        width: 100%; /* 讓列佔據整個寬度 */
        margin-bottom: 20px; /* 增加列之間的間距 */
    }
}
@media (max-width:300px) {
    .special-service {
        padding: 30px; /* 調整內邊距或其他樣式 */
        height:300vh;
        margin-top: 50px; /* 增加上方間距 */
        padding-top:100px;
    }

    .row {
        flex-direction: column; /* 將列轉換為垂直排列 */
    }

    .col {
        width: 100%; /* 讓列佔據整個寬度 */
        margin-bottom: 20px; /* 增加列之間的間距 */
    }
}




/* ------xx----- special service --xx-- */
/* ----------------signup----------------------- */
.getstarted {
    margin-top: 10px;
    padding: 6rem 0 5rem 0;
    width: 80%;
    justify-content: center;
    margin: 0 auto;

}

.getstarted-h1 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 50px;
}

.ctn-container {
    display: flex;
    width: 80%;
    padding: 2rem;
    box-shadow: 0px 0px 10px #cceded;
    margin: 10px auto;
    justify-content: space-around;
    border-radius: 10px;
}

.ctn-btn {
    margin-top: 50px;
    height: 70px;
    padding: 10px 40px 10px 40px;
    color: white;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    border: none;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: 0 0 20px 5px #7fd3d1;
    cursor: pointer;
    outline: none;
}

    .ctn-btn:hover {
        background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
    }

.ctn-text p {
    font-size: 20px;
}
@media screen and (max-width: 1200px) {
    .getstarted {
        width: auto;
        justify-content: center;
    }

    .getstarted-h1 {
        font-size: 30px;
    }

    .ctn-container {
        width: 80%;
        margin: 0 auto;
    }

    .ctn-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 35px;
        padding: 20px 40px 40px 40px;
        font-size: 16px;
    }
}
@media screen and (max-width: 900px) {
    .getstarted {
        width: auto;
        justify-content: center;
    }

    .getstarted-h1 {
        font-size: 30px;
    }

    .ctn-container {
       width: 80%;
        margin: 0 auto;
    }

    .ctn-btn {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 35px;
        padding:20px 40px 40px 40px;
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .getstarted {
        width: 90%;
        justify-content: center;
    }
    .getstarted-h1 {
        font-size:33px; 
    }       
        .ctn-container {
            flex-direction: column; /* 垂直布局 */
            width: 80%;
            padding: 1rem 1rem 1rem 1rem; 
            margin-left: 20px;
            margin-right: 20px;
        }
    .ctn-btn {
        margin-top: 20px;
        height: 40px;
        padding: 20px 40px 40px 40px;
        font-size: 18px;
    }
}


/*-------------- team section----------------*/
.team {
    margin-top: 50px;
    padding:30px 0;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.team-h1 {
    color: #79aaa9;
    font-size: 3rem;
    text-align: center;
    margin: 0 20px 50px 0;
    position: relative;
    font-weight: 600;
}

    .team-h1::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%); 
         margin:0 30px;
        border-radius: 5px;
        background-color: #97d5d3;
        
    }

.team .grid-wrapper {
    padding: 1.7rem 10rem;
    display: flex; /* Add this property */
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-mem {
    background: white;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform 1s ease;
    width: calc(25% - 2rem);

}

    .team-mem:hover {
        transform: translateY(-20px);
    }
    .team-mem h1 {
        color: black;
        margin-bottom: 20px;
        font-size:1.5rem;
    }
    .team-mem h2 {
        color: grey;
        margin-bottom: 20px;
        font-size: 1.1rem;
    }

    .team-mem i {
        color: grey;
        margin: 20px;
        transition: transform 0.5s ease;
        cursor: pointer;
    }

        .team-mem i:hover {
            color: #7fd3d1;
            transform: scale(1.4);
        }

    .team-mem img {
        width: 100px;
        border-radius: 50%;
    }
@media (max-width: 900px) {

    .team .grid-wrapper {
        padding: 1.7rem 2rem; /* 調整內邊距 */
        flex-direction: column; /* 將元素排列改為一列 */
        align-items: center; /* 居中對齊 */
    }

    .team-mem {
        width: calc(55% - 2rem); /* 讓每個成員佔據一列的一半寬度 */
        margin-bottom: 2rem; /* 調整成員之間的間距 */
    }
}
@media (max-width: 900px) {

    .team .grid-wrapper {
        padding: 1.7rem 2rem; /* 調整內邊距 */
        flex-direction: column; /* 將元素排列改為一列 */
        align-items: center; /* 居中對齊 */
    }

    .team-mem {
        width: calc(55% - 2rem); /* 讓每個成員佔據一列的一半寬度 */
        margin-bottom: 2rem; /* 調整成員之間的間距 */
    }
}
@media (max-width: 768px) {

    .team .grid-wrapper {
        padding: 1.7rem 2rem; /* 調整內邊距 */
        flex-direction: column; /* 將元素排列改為一列 */
        align-items: center; /* 居中對齊 */
    }

    .team-mem {
        width: calc(55% - 2rem); /* 讓每個成員佔據整個寬度 */
        margin-bottom: 2rem; /* 調整成員之間的間距 */
    }
}
/*------xx----- team section--------xx-----*/
/*--------------- Footer -----------------*/
footer {
    background-color: #cceded;
    background-image: url("../image/wavefoot.svg");
    background-size: cover;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-company-box {
    max-width: 330px;
}

    .footer-company-box p {
        color: #585858;
        margin: 5px 0px;
        font-size: 1.1rem;
        letter-spacing: 0.3px;
        line-height: 1.4rem;
    }

.footer-social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .footer-social a {
        margin-top: 10px;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e9e9e9;
        color: #333333;
        font-size: 0.9rem;
        transition: all ease 0.3s;
    }

        .footer-social a:hover {
            background-color: #ffc0cb;
            color: #ffffff;
        }

.footer-link-box strong {
    font-size: 1.3rem;
    color: #333333;
    font-weight: 600;
}

.footer-link-box ul {
    margin-top: 5px;
}

.footer-container ul li a {
    color: #585858;
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    transition: all ease 0.3s;
}

    .footer-container ul li a:hover {
        color: #122853;
    }

.footer hr {
    width: 90%;
    margin: 0 auto;
    font-weight: 600;
}

.move-up {
    position: fixed;
    bottom: 200px;
    right: 20px;
    background-color: #7FD3D1;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

    .move-up:hover {
        background-color: #ffa08f;
        transform: scale(1.1);
    }

    .move-up span {
        color: #fff;
    }

    .move-up i {
        font-size: 24px;
    }

.copyright {
    display: flex;
    justify-content: space-around;
    color: grey;
    padding: 30px;
    font-weight: 400;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


@media(max-width:1200px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}
